* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 239, 239);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card_sedan {
  background-color: rgb(211, 131, 47);
  border-radius: 25px 0 0 25px;
}

.card_suv {
  background-color: rgb(35, 91, 102);
}

.card_luxury {
  background-color: rgb(22, 55, 55);
  border-radius: 0 25px 25px 0;
}

.card_sedan img,
.card_suv img,
.card_luxury img {
  margin: 70px 0 50px 50px;
}

.card_sedan h1,
.card_suv h1,
.card_luxury h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 52px;
  margin: 0 0 50px 50px;
  color: #fff;
  text-transform: uppercase;
}

.card_sedan p,
.container p,
.card_luxury p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  line-height: 1.8em;
  font-size: 16px;
  margin: 0 0 50px 50px;
  color: #fff;
  width: 70%;
}

.card_sedan button {
  margin: 50px 0 50px 50px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  border: none;
  color: rgb(211, 131, 47);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.card_suv button {
  margin: 50px 0 50px 50px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  border: none;
  color: rgb(35, 91, 102);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.card_sedan button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(211, 131, 47);
  outline: 1px solid #fff;
}

.card_luxury button {
  margin: 50px 0 50px 50px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  border: none;
  color: rgb(22, 55, 55);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.card_suv button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(35, 91, 102);
  outline: 1px solid #fff;
}

.card_luxury button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(22, 55, 55);
  outline: 1px solid #fff;
}

@media (max-width: 1100px) {
  body {
    background-repeat: repeat-y;
    height: 100%;
  }

  main {
    width: 90vw;
    margin: 20px auto;
    max-width: 500px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 120vh;
  }

  .card_sedan {
    border-radius: 25px 25px 0 0;
  }

  .card_sedan button {
    margin: 10px 0 45px 50px;
  }

  .card_suv button {
    margin: 10px 0 45px 50px;
  }

  .card_luxury {
    border-radius: 0 0 25px 25px;
  }

  .card_luxury button {
    margin: 10px 0 45px 50px;
  }
}
